<div class="container">
    <div class="navigation">
        <p class="title" id="ntitle">Staff Information</p>
        <ul class="tabs">
            <li class="active">Basic Information</li>
            <a routerLink='/staffreq'>
                <li appColor>Personal Requirement</li>
            </a>
            <a routerLink='/staffpass'>
                <li appColor>Change Password</li>
            </a>
        </ul>
    </div>
    <div class="vl"></div>
    <div class="right">
        <p class="title" id="ctitle">Basic Information</p>
        <div class="clear"></div>
        <hr>
        <div class="content">
            <form [formGroup]="updatePersonal" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Staff Name:</p>
                            <input type="text" class="form-control" [formControlName]="'StaffName'"
                                placeholder="Staff Name" #addStaffName>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Staff Abbreviation:</p>
                            <input type="text" class="form-control" [formControlName]="'StaffAbbrv'"
                                placeholder="Staff Abbreviation">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Staff Type:</p>
                            <input type="text" class="form-control" [formControlName]="'StaffType'"
                                placeholder="Staff Type" #addStaffType>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Staff Honorific:</p>
                            <input type="text" class="form-control" [formControlName]="'Honorific'"
                                placeholder="Honorific" #addStaffHonorific>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Designation:</p>
                            <input type="text" class="form-control" [formControlName]="'Designation'"
                                placeholder="Designation" #addStaffDesignation>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Staff Email:</p>
                            <input type="text" class="form-control" [formControlName]="'StaffEmail'"
                                placeholder="Staff Email" #addStaffEmail>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Staff Contact No.:</p>
                            <input type="text" class="form-control" [formControlName]="'StaffContactNo'"
                                placeholder="Staff Contact No." #addStaffContactNo>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <p class="label">Staff HP No.:</p>
                            <input type="text" class="form-control" [formControlName]="'StaffHPNo'"
                                placeholder="Staff HP No." #addStaffHPNo>
                        </div>
                    </div>
                </div>
                <button id="submit" type="submit" appShadow>Update</button>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>