@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

footer {
    background-color: #404040;
    height: 4em;
    border-bottom: 4px solid #f83d5b;
}

.footer {
    margin: auto;
}

p {
    color: white;
    font-size: 0.9em;
    padding-top: 1.2em;
    font-family: 'Open Sans', sans-serif;
}