<div class="container">
    <div class="navigation">
        <p class="title" id="ntitle">Staff Maintenance</p>
        <ul class="tabs">
            <a routerLink='/staff'>
                <li appColor>Staff List</li>
            </a>
            <a>
                <li class="active" >Add New Staff</li>
            </a>
        </ul>
    </div>
    <div class="vl"></div>
    <div class="right">
        <p class="title" id="ctitle">Add New Staff</p>
        <div class="clear"></div>
        <hr>
        <form [formGroup]="addStaff" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffName'" placeholder="Staff Name"
                            #addStaffName>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffNo'" placeholder="Staff No."
                            #addStaffNo>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffType'" placeholder="Staff Type"
                            #addStaffType>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'Honorific'" placeholder="Honorific"
                            #addStaffHonorific>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'Designation'"
                            placeholder="Designation" #addStaffDesignation>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffEmail'"
                            placeholder="Staff Email" #addStaffEmail>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffContactNo'"
                            placeholder="Staff Contact No." #addStaffContactNo>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffHPNo'"
                            placeholder="Staff HP No." #addStaffHPNo>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffAbbrv'"
                            placeholder="Staff Abbreviation" #addStaffAbbrv>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <select class="form-control" [formControlName]="'Section'">
                            <option hidden value="" [selected]="true">Select Section</option>
                            <option *ngFor="let section of sectionList">
                                {{ section.SectionName }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" [formControlName]="'StaffPass'"
                            placeholder="Staff Password">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="number" class="form-control" [formControlName]="'StaffLevel'"
                            placeholder="Staff Level">
                    </div>
                </div>
            </div>
            <button id="submit" type="submit" appShadow>Add Staff</button>
        </form>
    </div>
    <div class="clear"></div>
    <div class="padding"></div>
</div>