@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');


#SOC {
    color: #f83d5b;
    text-decoration: none;
}

#SOC, #TAS {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: 700;
}

#logo {
    margin-top: 0.5%;
    float: left;
    padding-left: 1%;
}


.navbar {
    height: 75px;
    padding: 0;
    border-bottom: 7px solid #404040;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.nav {
    margin: auto;
}

a {
    color: 	#303030;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.nav-link {
    padding-bottom: 0.9em;
    padding-top: 1.9em;
}

#banner {
    background-color: #f83d5b;
    border-radius: 0 0 20px 20px;
    padding: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-right: 10em;
    top: 0;
    position: absolute;
    right: 0;
}

#staffinfo {
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-size: 1.2em;
}
