<nav class="navbar sticky-top navbar-dark" id="header">
    <div id="logo" appScale><a id="SOC" routerLink="/main">
            SOC
        </a>
    </div>
    <ul class="nav" *ngIf="!router.url.includes('login')">
        <li class="nav-item">
            <a class="nav-link" routerLink="/module" appNavanimation *ngIf="!router.url.includes('main') && authService.loggedIn">Module Maintenance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/staff" appNavanimation *ngIf="!router.url.includes('main') && authService.loggedIn"  (click)="check()">Staff Maintenance</a>
        </li>
        <li class="nav-item" appNavbarAnimation>
            <a class="nav-link" routerLink="/assignment" appNavanimation *ngIf="!router.url.includes('main') && authService.loggedIn"  (click)="check()">Teaching Assignment System</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/exam" appNavanimation *ngIf="!router.url.includes('main') && authService.loggedIn"  (click)="check()">Exam Moderator & Verifier System</a>
        </li>
    </ul>
</nav>