<div class="container">
    <div class="navigation">
        <p class="title" id="ntitle">Staff Information</p>
        <ul class="tabs">
            <a routerLink='/staffinfo'>
                <li appColor>Basic Information</li>
            </a>
            <li class="active">Personal Requirement</li>
            <a routerLink='/staffpass'>
                <li appColor>Change Password</li>
            </a>
        </ul>
    </div>
    <div class="vl"></div>
    <div class="right">
        <p class="title" id="ctitle">Personal Requirement</p>
        <div class="clear"></div>
        <hr>
        <div class="content">
            <table mat-table [dataSource]="data">

                <ng-container matColumnDef="day">
                    <th mat-header-cell *matHeaderCellDef> Day </th>
                    <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.Day}} </td>
                </ng-container>

                <ng-container matColumnDef="start">
                    <th mat-header-cell *matHeaderCellDef> Start </th>
                    <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.Start}} </td>
                </ng-container>

                <ng-container matColumnDef="end">
                    <th mat-header-cell *matHeaderCellDef> End </th>
                    <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.End}} </td>
                </ng-container>

                <ng-container matColumnDef="reason">
                    <th mat-header-cell *matHeaderCellDef> Reason </th>
                    <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.Reason}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element; let odd=odd let index=index" [class.color]="odd">
                        <button id="del" (click)="deleteConstraint(element.ConstraintID)" data-toggle="modal"
                            data-target="#deleteStaff"><i class="fa fa-trash"></i></button>
                        <button id="upt" (click)="updateConstraint(element, element.ConstraintID)" data-toggle="modal"
                            data-target="#updateReq"><i class="fa fa-edit"></i></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <button data-toggle="modal" data-target="#newReq" class="normalbtn">New Requirement</button>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="modal fade" id="newReq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Requirement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newRequirement" (ngSubmit)="addReq()">
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Day:</div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="(Format eg. Wed)" [formControlName]="'Day'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Start Time:</div>
                        <div class="col">
                            <input type="text" class="form-control" [formControlName]="'Start'" placeholder="(Format eg. 09:00)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">End Time:</div>
                        <div class="col">
                            <input type="text" class="form-control" [formControlName]="'End'" placeholder="(Format eg. 16:00)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Reason:</div>
                        <div class="col">
                            <input type="text" class="form-control" [formControlName]="'Reason'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Remarks:</div>
                        <div class="col">
                            <textarea class="form-control" [formControlName]="'Others'"></textarea>
                        </div>
                    </div>
                    <button type="button" class="normalbtn" id="submit" type="submit">Add Requirement</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateReq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Requirement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateRequirement" (ngSubmit)="onUpdate()">
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Day:</div>
                        <div class="col">
                            <input type="text" class="form-control" [formControlName]="'uDay'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Start Time:</div>
                        <div class="col">
                            <input type="text" class="form-control" [formControlName]="'uStart'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">End Time:</div>
                        <div class="col">
                            <input type="text" class="form-control" [formControlName]="'uEnd'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Reason:</div>
                        <div class="col">
                            <input type="text" class="form-control" [formControlName]="'uReason'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="poplabel" id="sname">Remarks:</div>
                        <div class="col">
                            <textarea class="form-control" [formControlName]="'uOthers'"></textarea>
                        </div>
                    </div>
                    <button type="button" class="normalbtn" type="submit">Update Requirement</button>
                </form>
            </div>
        </div>
    </div>
</div>