<!-- newTeachingAssignmentCat? Modal -->
<div class="container">
    <div class="box">
      <p class="subtitle">Forecast Assignment</p>
      <div class="modal-body" style="margin-left: 1.5em;">
        <form [formGroup]="FCEdit" (ngSubmit)="editForecast()">
          <div class="col">

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Lecture:</label>
                <input type="number" class="form-control" [formControlName]="'FCLecture'" placeholder="" style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Practical:</label>
                <input type="number" class="form-control" [formControlName]="'FCPractical'" placeholder="" style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Tutorial:</label>
                <input type="number" class="form-control" [formControlName]="'FCTutorial'" placeholder="" style="width: 20%;">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">StudentQty:</label>
                <input type="number" class="form-control" [formControlName]="'FCStudent'" placeholder="" style="width: 20%;">
              </div>
            </div>

          </div>
          <button type="button" id="submit" class="btn btn-style" type="submit">Save Assignment</button>
        </form>
      </div>
  </div>
</div>
