.box {  
    display: block;
    margin: 1em 0;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    padding-left: 1.5em;
    text-align: left;
}

.padding {
    padding: 0.75em;
}

.modal-input {
    width: 40%;
    border: 1px solid red;
    border-radius: 4px;
    background: #F5F5F5;
    padding: 0.2em;
    margin: 0.5em
}

.modal-input-sm {
    width: 10%;
}

.modal-body > div > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.btn-style {
    background: #EB3656;
    color: #FFF;
}

.btn-style:hover {
    background: #FF3C5C;
    color: #FFF;
}

.NA-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 1em;
}