<div class="container">
    <p class="title">Module Maintenance</p>
    <hr class="hr">
    <div class="row" id="selectrow">
        <div class="col" class="colabel" id="test1">Select Module:</div>
        <div class="col" class="info" id="test2">
            <select (change)="changeMod($event)" class="select">
                <option hidden value="" [selected]="true">Select Module</option>
                <option *ngFor="let mod of mcMod">{{ mod.ModuleAbbrv }}</option>
            </select>
        </div>
    </div>
    <div class="box">
        <p class="subtitle">Module Information</p>
        <div class="row">
            <div class="col" class="colabel">
                <p class="label">Module ID:</p>
            </div>
            <div class="col">
                <p class="info">{{ selectedMod.ModuleCode }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" class="colabel">
                <p class="label">Module Name:</p>
            </div>
            <div class="col">
                <p class="info">{{ selectedMod.ModuleName }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" class="colabel">
                <p class="label">Module Abbreviation:</p>
            </div>
            <div class="col">
                <p class="info">{{ selectedMod.ModuleAbbrv }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" class="colabel">
                <p class="label">Module Coordinator:</p>
            </div>
            <div class="col">
                <p class="info">{{ selectedMod.MC }}</p>
            </div>
        </div>
        <hr class="subhr">
        <table>
            <tr class="header">
                <th class="modinfohead">Hours</th>
                <th class="modinfohead">Odd Week</th>
                <th class="modinfohead">Even Week</th>
                <th class="modinfohead">Semestral Total</th>
            </tr>
            <tr class="color">
                <td class="modinfocell">Lecture</td>
                <td class="modinfocell">{{ selectedMod.OddWeekLectHr }}</td>
                <td class="modinfocell">{{ selectedMod.EvenWeekLectHr }}</td>
                <td class="modinfocell">{{ selectedMod.EvenWeekLectHr + selectedMod.OddWeekLectHr }}</td>
            </tr>
            <tr>
                <td class="modinfocell">Tutorial</td>
                <td class="modinfocell">{{ selectedMod.OddWeekTutHr }}</td>
                <td class="modinfocell">{{ selectedMod.EvenWeekTutHr }}</td>
                <td class="modinfocell">{{ selectedMod.EvenWeekTutHr + selectedMod.OddWeekTutHr }}</td>
            </tr>
            <tr class="color">
                <td class="modinfocell">Practical</td>
                <td class="modinfocell">{{ selectedMod.OddWeekPractHr }}</td>
                <td class="modinfocell">{{ selectedMod.EvenWeekPractHr }}</td>
                <td class="modinfocell">{{ selectedMod.EvenWeekPractHr + selectedMod.OddWeekPractHr }}</td>
            </tr>
            <tr>
                <td class="modinfocell">DLT</td>
                <td class="modinfocell">0.0</td>
                <td class="modinfocell">0.0</td>
                <td class="modinfocell">0.0</td>
            </tr>
        </table>
        <div class="padding"></div>
    </div>
    <div class="box">
        <p class="subtitle">Module Requirements</p>
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Lesson Type </th>
                <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.TeachingType}} </td>
            </ng-container>

            <ng-container matColumnDef="requirement">
                <th mat-header-cell *matHeaderCellDef> Requirement </th>
                <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.Requirements}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element; let odd=odd let index=index" [class.color]="odd">
                    <button id="del" (click)="delReq(element)"><i class="fa fa-trash"></i></button>
                    <button id="upt" data-target="#updateModReq" data-toggle="modal" (click)="updateReq(element)"><i class="fa fa-edit"></i></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <button data-toggle="modal" data-target="#newModReq" appShadow>New Requirement</button>
        <div class="clear"></div>
        <div class="padding"></div>
    </div>
    <div class="box">
        <p class="subtitle">Module Weightages</p>
        <div *ngFor="let weight of modWeightage">
            <p class="wlabel">Component Code:</p>
            <p class="winfo">{{ weight.AssmComCode }}</p>
            <p class="wlabel">NRC:</p>
            <p class="winfo">{{ weight.NRC }}</p>
            <p class="wlabel">Weightage:</p>
            <p class="winfo">{{ weight.Weightage }}</p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="box">
        <p class="subtitle">Module Workload</p>
        <div class="row" *ngFor="let weight of ca">
            <div class="col" class="colmain">
                {{ weight.AssmComCode }}
            </div>
            <div class="col" class="scol">
                <div class="row">
                    <div class="wcolable" class="col"><p class="wlabel">Group Size:</p></div>
                    <div class="wcolinfo" class="col">
                        <input type="number" [(ngModel)]="GroupSize[weight.AssmComCode]">
                    </div>
                </div>
                <div class="row">
                    <div class="wcolable" class="col"><p class="wlabel">Start Week:</p></div>
                    <div class="wcolinfo" class="col">
                        <input type="number" [(ngModel)]="StartWk[weight.AssmComCode]">
                    </div>
                </div>
                <div class="row">
                    <div class="wcolable" class="col"><p class="wlabel">End Week:</p></div>
                    <div class="wcolinfo" class="col">
                        <input type="number" [(ngModel)]="EndWk[weight.AssmComCode]">
                    </div>
                </div>
                <div class="row">
                    <div class="wcolabel" class="col"><p class="wlabel">Remarks:</p></div>
                    <div class="wcolinfo" class="col">
                        <input type="text" [(ngModel)]="Remarks[weight.AssmComCode]">
                    </div>
                </div>
            </div>
            <hr class="sep">
        </div>
        <div class="row" *ngFor="let weight of mst">
                <div class="colmain">
                    {{ weight.AssmComCode }}
                </div>
                <div class="col" class="scol">
                    <div class="row">
                        <div class="wcolabel" class="col"><p class="wlabel">Test Week Type:</p></div>
                        <div class="wcolinfo" class="col">
                            <input type="text" [(ngModel)]="TestWkType[weight.AssmComCode]">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="wcolabel" class="col"><p class="wlabel">Type:</p></div>
                        <div class="wcolinfo" class="col">
                            <input type="text" [(ngModel)]="Type[weight.AssmComCode]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="wcolabel" class="col"><p class="wlabel">Duration:</p></div>
                        <div class="wcolinfo" class="col">
                            <input type="number" [(ngModel)]="Duration[weight.AssmComCode]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="wcolabel" class="col"><p class="wlabel">Special Requirement:</p></div>
                        <div class="wcolinfo" class="col">
                            <input type="text" [(ngModel)]="Requirement[weight.AssmComCode]">
                        </div>
                    </div>
                </div>
                <hr class="sep">
            </div>
            <button appShadow *ngIf="!(ca.length == 0)" (click)="updateWeight()" id="updatew">Update</button>
            <div class="clear"></div>
    </div>
    <div class="padding"></div>
</div>

<div class="modal fade" id="newModReq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Module Requirement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newModReq" (ngSubmit)="onSubmit()">
                    <div class="row" id="pop1">
                        <div class="col" class="poplabel">Lesson Type: </div>
                        <div class="col">
                            <select [formControlName]="'Type'" class="select">
                                <option value="Lecture">Lecture</option>
                                <option value="Tutorial">Tutorial</option>
                                <option value="Practical">Practical</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" id="pop2">
                        <div class="col" class="poplabel">Requirement: </div>
                        <div class="col"><input class="form-control" [formControlName]="'Requirement'" type="text">
                        </div>
                    </div>
                    <button id="submit" type="submit" appShadow >Add New Requirement</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModReq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Module Requirement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newUpdateReq" (ngSubmit)="onUpdate()">
                    <div class="row" id="pop1">
                        <div class="col" class="poplabel">Lesson Type: </div>
                        <div class="col">
                            <select [formControlName]="'Type'" class="select" disabled>
                                <option value="Lecture">Lecture</option>
                                <option value="Tutorial">Tutorial</option>
                                <option value="Practical">Practical</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" id="pop2">
                        <div class="col" class="poplabel">Requirement: </div>
                        <div class="col"><input class="form-control" [formControlName]="'Requirement'" type="text">
                        </div>
                    </div>
                    <button id="usubmit" type="submit" appShadow>Save Requirement</button>
                </form>
            </div>
        </div>
    </div>
</div>