@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

.title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 700;
    font-size: 1.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    padding-left: 0.5em;
    text-align: left;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 0;
    padding-left: 1.5em;
    text-align: left;
}

.hr {
    border-top: 2px solid gray;
    margin-top: 0.5em;
}

.subhr {
    border-top: 2px solid lightgray;
    margin-top: 0.5em;
    width: 95%;
}

.modinfohead {
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 0.2em;
    background-color: transparent;
}

.header {
    border-bottom: 2px solid #f83d5b;
}

table {
    width: 95%;
    margin: 0 auto;
}

.modinfocell {
    height: 40px;
    text-align: center;
}

.color {
    background-color: #f2dbde;
}

.box {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.label {
    text-align: left;
    padding-left: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 2; 
    font-weight: 600;
}

.colabel {
    width: 20%;
    padding-left: 2em;
}

.info {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 7px;
    width: 20em;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.clear { 
    clear: both;
}

.padding {
    padding: 0.5em;
}

.wlabel {
    float:left;
    padding-left: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 2; 
    font-weight: 600;
    padding-right: 1em;
}

.winfo {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 7px;
    width: 10em;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    float:left; 
    text-align: left;
}

#submit {
    float: right;
    margin-top: 2em;
}


.req {        
    display: flex;
    align-items: center;
    background-color: #f2dbde;;
    padding: 1em;
    width: 95%;
    margin: 0 auto;
    border-top: 3px solid #f83d5b
}

button {
    float:left;
    margin-left: 2em;
    margin-top: 0.8em;
    background-color: #f83d5b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 5px;
    padding: 0.6em 2.5em 0.6em 2.5em;
    outline: none;
}


td {
    text-align: left;
} 

th {
    background-color: #f83d5b;
    color: white;
    font-size: 1.1em;
}

#del, #upt {
    background-color: transparent;
    color: black;
    margin-left: 0;
    padding: 0;
    margin-top: 0;
    margin-right: 1em;
}

h5 {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    margin: none;
}

.close {
    color: white;
}

.modal-header {
    background-color: #f83d5b;
    padding-bottom: 0.5em !important;
}

.col {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

#pop1, #pop2
 {
     margin-bottom: 1em;
     margin-top: 1em;
 }

.poplabel {
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}

.select {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

input {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

#selectModDrop {
    font-family: 'Open Sans', sans-serif;
    width: 70%;
}


#test1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    color: #f83d5b;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    padding-left: 0;
}

#test2 {
    border: none;
    background-color: transparent;
    padding: none;
    border-radius: none;
    width: none;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

#selectrow {
    margin-bottom: 1em;
}

.colinfo {
    width: 25%;
    text-align: left;
}

.colabel {
    width: 20%;
    padding-left: 2em;
}


input {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

.colmain {
    width:25%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
}

.wcolinfo {
    width: 50%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.wcolabel {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.scol {
    width: 50%;
}

.srow {
    padding-top: 2em;
}

#updatew {
    margin: 0 auto;
    float: none;
    margin-bottom: 1em;
}

.row {
    padding-bottom: 0.5em;
}
 
.wlabel {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.sep {
    border-bottom: 1px solid lightgray;
    width: 80%;
    text-align: center;
}
