@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');

.navigation {
    width: 25%;
    float: left;
    margin-right: 5%
}

.right {
    width: 60%;
    float: left;
    margin-left: 5%;
}

hr {
    border-bottom: 2px solid lightgray;
    margin-top: 1em;
}

.vl {
    border-left: 2px solid lightgray;
    height: 500px;
    float: left;
  }

.clear {
    clear: both;
}

.col {
    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.row {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

input {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 7px;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}


button {
    margin-top: 2em;
    background-color: #f83d5b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 5px;
    padding: 0.4em 2.5em 0.4em 2.5em;
    outline: none;
}


.title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.6em;
    padding-top: 0.5em;
    margin-bottom: 0
}

#ctitle {
    float: left;
}

#ntitle {
    padding-bottom: 0.5em;
    border-bottom: 5px solid #f83d5b;
}

.tabs {
    list-style-type: none;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

li {
    font-family: 'Open Sans', sans-serif;
    padding-top : 1.2em;
    font-size: 1.1em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid lightgray;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    color: #f83d5b;
}