<div class="container">
    <div class="navigation">
        <p class="title" id="ntitle">Staff Information</p>
        <ul class="tabs">
            <a routerLink='/staffinfo'>
                <li appColor>Basic Information</li>
            </a>
            <a routerLink='/staffreq'>
                <li appColor>Personal Requirement</li>
            </a>
            <li class="active">Change Password</li>
        </ul>
    </div>
    <div class="vl"></div>
    <div class="right">
        <p class="title" id="ctitle">Change Password</p>
        <div class="clear"></div>
        <hr>
        <div class="content">
            <form [formGroup]="updatePass" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col"><p>Old Password:</p></div>
                    <div class="col"><input type="text" class="form-control" [formControlName]="'oldPassword'"></div>
                </div>
                <div class="row">
                    <div class="col"><p>New Password:</p></div>
                    <div class="col"><input type="text" class="form-control" [formControlName]="'newPassword'"></div>
                </div>
                <button id="submit" type="submit" appShadow>Update password</button>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>