@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

.navigation {
    width: 25%;
    float: left;
    margin-right: 5%
}

.right {
    width: 60%;
    float: left;
    margin-left: 5%;
}

hr {
    border-bottom: 2px solid lightgray;
    margin-top: 1em;
}

.vl {
    border-left: 2px solid lightgray;
    height: 500px;
    float: left;
  }

.clear {
    clear: both;
}

.title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.6em;
    padding-top: 0.5em;
    margin-bottom: 0
}

#ctitle {
    float: left;
}

#ntitle {
    padding-bottom: 0.5em;
    border-bottom: 5px solid #f83d5b;
}

.tabs {
    list-style-type: none;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

li {
    font-family: 'Open Sans', sans-serif;
    padding-top : 1.2em;
    font-size: 1.1em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid lightgray;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    color: #f83d5b;
}


table {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

td {
    text-align: left;
}

th {
    background-color: #f83d5b;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

.color {
    background-color: #f2dbde;
}

i {
    margin-right: 1em;
}

.warnmsg {
    padding: 1.5em;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    margin: none;
}

.close {
    color: white;
}

.modal-header {
    background-color: #f83d5b;
    padding-bottom: 0.5em !important;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

#del, #update {
    border: none;
    background-color: transparent;
    outline: none;
}

.padding {
    padding: 1em;
}

.col {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    width: 50%
}

.poplabel {
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%
}

.row {
    margin-bottom: 1em;
    margin-top: 1em
}

#sname {
    padding-right: 0.6em;
}

select {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

input {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

#submit {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}



