<div class="container">
  <div class="navigation">
    <p class="title" id="ntitle">Staff Maintenance</p>
    <ul class="tabs">
      <li class="active">Staff List</li>
      <a routerLink='/addstaff'>
        <li appColor>Add New Staff</li>
      </a>
    </ul>
  </div>
  <div class="vl"></div>
  <div class="right">
    <p class="title" id="ctitle">Staff List</p>
    <div class="clear"></div>
    <hr>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data">

        <ng-container matColumnDef="sname">
          <th mat-header-cell *matHeaderCellDef> Staff Name </th>
          <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.StaffName}} </td>
        </ng-container>

        <ng-container matColumnDef="sid">
          <th mat-header-cell *matHeaderCellDef> Staff ID </th>
          <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.StaffNo}} </td>
        </ng-container>

        <ng-container matColumnDef="section">
          <th mat-header-cell *matHeaderCellDef> Section </th>
          <td mat-cell *matCellDef="let element; let odd=odd" [class.color]="odd"> {{element.Section}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let odd=odd let index=index" [class.color]="odd">
            <button id="del" (click)="deleteStaff(element.StaffNo)" data-toggle="modal" data-target="#deleteStaff"><i
                class="fa fa-trash"></i></button>
            <button id="update" data-toggle="modal" data-target="#updateStaff" (click)="updateStaff(element.StaffNo)"><i
                class="fa fa-edit"></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <div class="clear"></div>
  <div class="padding"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteStaff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="warnmsg">Are you sure you want to delete this staff?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateStaff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Staff</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="patchStaff" (ngSubmit)="confirmUpdate()">
          <div class="row">
            <div class="col" class="poplabel" id="sname">Staff Name:</div>
            <div class="col" [innerHTML]="tempStaff.StaffName"></div>
          </div>
          <div class="row">
            <div class="col" class="poplabel">Staff Section:</div>
            <div class="col">
              <select class="form-control" [formControlName]="'Section'">
                <option hidden value="" [selected]="true">{{ tempDisplay.Section }}</option>
                <option *ngFor="let section of sectionInfo">
                  {{ section.SectionName }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col" class="poplabel">Staff No:</div>
            <div class="col">
              <input class="form-control" [formControlName]="'StaffNo'">
            </div>
          </div>
          <!-- <div class="row">
              <div class="col" class="poplabel">Staff Level:</div>
              <div class="col">
                <input class="form-control" [formControlName]="'StaffLevel'">
              </div>
            </div> -->
          <button type="button" class="btn btn-danger" id="submit" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>