.title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 700;
    font-size: 1.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    padding-left: 0.5em;
    text-align: left;
}

hr {
    border-top: 2px solid gray;
    margin-top: 0.5em;
}

.breadcrumb {
    height: 3em;
}

.current, #link {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 0.9em;
    padding-top: 0.1em;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-align: left;
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 0em;
    padding-top: 1em;
}

#link, #slash {
    margin-right: 0.3em;
}

.box {
    border: 3px solid #f83d5b;
    height: 14em;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

.select {
    font-family: 'Open Sans', sans-serif;
    float:left;
    padding-left: 2em;
    padding-right: 0.5em;
    font-size: 1.1em;
    font-weight: 400;
}

#fileupload {
    margin-left: 2emng ;
}

.file-upload {
    float:left;
}

.clear {
    clear:both;
}

button {
    float:left;
    margin-left: 2em;
    margin-top: 0.8em;
    background-color: #f83d5b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 5px;
    padding: 0.4em 2.5em 0.4em 2.5em;
    outline: none;
}

select {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 7px;
    width: 20em;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    float:left; 
}


#assign {
    margin-top: 1em;
}

#assignbox {
    height: 16em;
}

.dropdownlabel {
    float:left;
    padding-left: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    padding-right: 1em;
    line-height: 2; 
}




