<div class="container">
    <p class="title">System Maintenance</p>
    <hr>
    <div class="breadcrumb">
        <a id="link" routerLink="/main">Main Navigation</a>
        <p class="current" id="slash">/</p>
        <p class="current">System Maintenance</p>
    </div>
    <div class="box">
        <h1>Import Module Weightage</h1>
        <div class="wrapper">
            <div class="file-upload">
                <form #form1 target="_blank" method="post" enctype="multipart/form-data" action="https://tas-backend.herokuapp.com/api/uploads/mod-weightage">
                    <p class="select">Select File:</p><input type="file" name="mod_weightage" placeholder="eg. 20152016">
                    <div class="clear"></div>
                    <button type="submit" (click)="form1.submit()">Import</button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="box">
        <h1>Import Projection Information</h1>
        <div class="wrapper">
            <div class="file-upload">
                <form #form2 target="_blank" method="post" enctype="multipart/form-data">
                    <p class="select">Academic Year:</p><input type="text" name="acadYear" placeholder="eg. 20152016" #academicYear>
                    <div class="clear"></div>
                    <p class="select">Select File:</p><input type="file" id="fileupload" name="projection" >
                    <div class="clear"></div>
                    <button type="submit" (click)="test(academicYear.value)">Import</button>
                </form>
            </div>
        </div>
    </div>
 