@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

.container {
    width: 100% !important;
}
.tas-container {
    margin: auto;
    width: 80%;
}

.subheader {
    width: 100%;
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
}

.subheader > div {
    margin: 0 0.35em;
}

.flex-end {
    margin-left:auto;
}

.tas-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75em 0;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    padding-left: 1.5em;
    text-align: left;
}

.box {  
    margin: 1em 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.input-div {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0.1em 0;
    display: flex;
    align-items: baseline;
}

.label {
    padding: 0 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.section-info {
    width: 40%;
    margin: 0 1em;
}

.tas {
    width: 60%;
    margin: 0 1em;
}

.tas-container{
    display: flex;
}

.modal-input {
    width: 40%;
    border: 1px solid red;
    border-radius: 4px;
    background: #F5F5F5;
    padding: 0.2em;
    margin: 0.5em
}

.modal-input-sm {
    width: 10%;
}

.modal-body > div > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.modal-title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0;
    padding-left: 0.5em;
    text-align: left;
}

.btn-style {
    background: #EB3656;
    color: #FFF;
}

.btn-style:hover {
    background: #FF3C5C;
    color: #FFF;
}

.dropdown-sub {
    border: 1px solid #F5F5F5;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
}

.NA-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 1em;
}

.row {
    margin-bottom: 1em;
    margin-top: 1em
}

.col {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}



.subheader {
    width: 100%;
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
}

.subheader > div {
    margin: 0 0.35em;
}

.flex-end {
    margin-left:auto;
}

.tas-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75em 0;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    padding-left: 1.5em;
    text-align: left;
}

.box {  
    display: block;
    margin: 1em 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.input-div {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0.1em 0;
    display: flex;
    align-items: center;
}

.label {
    padding: 0 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.section-info {
    width: 40%;
    margin: 0 1em;
}

.tas {
    width: 60%;
    margin: 0 1em;
}

.tas-container{
    display: flex;
}

.t-header{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
}

tr:nth-child(odd) {
    background: #FFE5E5;
}

.t-headercol {
    background: #FFF !important;
    color: #EB3656 ;
    border-bottom: #F3395A solid 5px;
    border-top: none;
}


.t-sub{
    text-align: left;
    font-weight: 300;
}

/* .mat-row:nth-child(even) {
    background: #FFE5E5;
} */

.none {
    background: #FFF;
}

.table{
    width: 95%;
    margin: 0 auto;
    box-shadow: none;
}

.padding {
    padding: 0.75em;
}

.mat-table {
    width: 95%;
    margin: 0 auto;
    box-shadow: none;
}

.btn-style {
    background: #EB3656;
    color: #FFF;
}

.btn-style:hover {
    background: #FF3C5C;
    color: #FFF;
}

.modal-title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0;
    padding-left: 0.5em;
    text-align: left;
}

.modal-input-sm {
    width: 10%;
}

.modal-body > div > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.NA-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 1em;
}

.poplabel {
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

#del, #update {
    border: none;
    background-color: transparent;
    outline: none;
}


.container {
    border: 1px solid blue;
}

.subheader {
    width: 100%;
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
}

.subheader > div {
    margin: 0 0.35em;
}

.flex-end {
    margin-left:auto;
}

.tas-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75em 0;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    padding-left: 1.5em;
    text-align: left;
}

.box {  
    display: block;
    margin: 1em 0;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.input-div {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0.1em 0;
    display: flex;
    align-items: baseline;
}

.label {
    padding: 0 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.section-info {
    width: 40%;
}

.tas {
    width: 60%;
}

.tas-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75em 0;
}

table {
    width: 100%;
  }
  
tr.example-detail-row {
    height: 0;
  }
  
tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
.example-element-row td {
    border-bottom-width: 0;
  }
  
.example-element-detail {
    overflow: hidden;
    display: flex;
  }


.t-headercol {
  background: #FFF !important;
  color: #EB3656 ;
  border-bottom: #F3395A solid 5px;
  border-top: none;
}

.section-table {
  width: 100%;
  margin: auto;
}

