<section class="tas-container">
  <div class="subheader">
    <!-- Summary DDwn -->
    <div ngbDropdown class="d-inline-block">
      <!-- <button class="btn dropdown-sub" id="" ngbDropdownToggle>
        Summary
      </button> -->
      <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Summary By Staff</button>
        <button ngbDropdownItem>Summary By Module</button>
        <button ngbDropdownItem>Summary By Staff (All)</button>
        <button ngbDropdownItem>Summary By Module (All)</button>
      </div> -->
    </div>
    <!-- Reports DDwn -->
    <div ngbDropdown class="d-inline-block">
      <button class="btn dropdown-sub" id="dropdownBasic1" ngbDropdownToggle>
        Reports
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <!-- <button ngbDropdownItem>Timetable Report</button> -->
        <a href="https://tas-backend.herokuapp.com/api/report/TT-assign?acadYear={{AcadYearSem.Year}}&sem={{AcadYearSem.Sem}}"><button ngbDropdownItem>Timetable Assign Report</button></a>
        <a href="https://tas-backend.herokuapp.com/api/staff-constraint/report"><button ngbDropdownItem>Staff Constraint Report</button></a>
      </div>
    </div>
    <!-- Others DDwn -->
    <div ngbDropdown class="d-inline-block">
      <button class="btn dropdown-sub" id="dropdownBasic1" ngbDropdownToggle>
        Others
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a href="https://tas-backend.herokuapp.com/api/report/mc-list"><button
            ngbDropdownItem>MC List</button></a>
        <!-- <button ngbDropdownItem>Contact Hours</button> -->
        <a href="https://tas-backend.herokuapp.com/api/report/Mod_Workload"><button
            ngbDropdownItem>Module Workload</button></a>
      </div>
    </div>
    <div style="margin-left: auto;">
      <button class="btn btn-style" type="button" routerLink="/courseInfo"
        style="margin-left: 1em">Course Overview</button>
      <button class="btn btn-style" type="button" data-toggle="modal" data-target="#newModule"
        style="margin-left: 1em">Add New Module</button>
      <button class="btn btn-style" type="button" data-toggle="modal" data-target="#newModCourse"
        style="margin-left: 1em">New ModCourse</button>
      <button class="btn btn-style" type="button" data-toggle="modal" data-target="#newForecast"
        style="margin-left: 1em">New Forecast</button>
    </div>
  </div>
</section>
<!-- 40 - 60 -->
<section class="tas-container">
  <div class="section-info">
    <div class="tas-header">
      <mat-form-field appearance="fill">
        <mat-label>Section</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let section of sectionInfo" (click)="filterSection()" [value]="section.SectionID">
            {{section.SectionName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field class="filterInput">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
    <div class="box"> 
    <p class="subtitle">Section Members</p>
    
    <table mat-table
           [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z8">
      <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell class="t-headercol" *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element[column]}} </td>
      </ng-container> -->
    
      <ng-container matColumnDef="StaffName">
        <th class="none" mat-header-cell *matHeaderCellDef class="t-headercol"> Staff Name </th>
        <td class="none" mat-cell *matCellDef="let element;"  style="text-align: left;"> {{element.staffName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="TotalHours">
        <th class="none" mat-header-cell *matHeaderCellDef class="t-headercol"> Total Hours </th>
        <td class="none" mat-cell *matCellDef="let element;"  style="text-align: left;"> {{element.TotalHr}} </td>
      </ng-container>
    
    
      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div>
              <table class="table section-table">
                <thead class="none">
                  <tr class="none">
                    <th class="none"scope="col-6">ModuleCourse</th>
                    <th class="none" scope="col">L</th>
                    <th class="none" scope="col">P</th>
                    <th class="none" scope="col">T</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of element.assignments" class="none">
                    <th class="none" scope="row">{{x.ModCourseName}}</th>
                    <td class="none">{{x.NoLect}}</td>
                    <td class="none">{{x.NoPract}}</td>
                    <td class="none">{{x.NoTut}}</td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>
    
    
    
    </div>
  </div>
  <!-- End of Section-Info -->

  <div class="tas">
    <div class="tas-header">
      <mat-form-field appearance="fill">
        <mat-label>Module-Course</mat-label>
        <mat-select>
          <mat-option *ngFor="let mod of modCourseDisplay" (click)="loadSelectedModCourse(mod.ModKey)" [value]="mod.ModKey">
            {{mod.ModCourseName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="forecastOn" class="btn btn-style" type="button" routerLink="/forecastAssignment"
        [(value)]="modCourseDisplay.ModKey" style="margin-left: auto;">Edit Forecast Assignment</button>
    </div>
    <!-- End of ddwn -->
    <!-- Module Info -->
    <div class="box">
      <p class="subtitle">Module Information</p>
      <div class="input-div">
        <p class="label">Module Coordinator:</p>
        <mat-form-field appearance="fill">
          <mat-label>Module Coordinator</mat-label>
          <mat-select [(value)]="selectedMC">
            <mat-option *ngFor="let staff of staffInfo" (click)="selectMC(staff.StaffNo)" [value]="staff.StaffNo">
              {{staff.StaffName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-div">
        <p class="label">Number of Students:</p>
        <p>{{forecastTotal.StuStageQty}} </p>
      </div>
      <div class="padding"></div>
    </div>
    <!-- Classes -->
    <div class="box">
      <!-- <p class="subtitle">Classes</p> -->
      <div class="padding"></div>
      <table class="table classes-table">
        <thead>
          <tr class="t-colall">
            <th scope="col-8" class="t-header t-headercol">Classes</th>
            <th scope="col-1" class="t-headercol">Lecture</th>
            <th scope="col-1" class="t-headercol">Practical</th>
            <th scope="col-1" class="t-headercol">Tutorial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="t-sub">Hours Per Week</th>
            <td>
              <p>{{ moduleHours.LectHr }}</p>
            </td>
            <td>
              <p>{{ moduleHours.PractHr }}</p>
            </td>
            <td>
              <p>{{ moduleHours.TutHr }}</p>
            </td>
          </tr>
          <tr>
            <th scope="row" class="t-sub">To Be Assigned</th>
            <td>
              <p>{{ forecastTotal.TotalLect }}</p>
            </td>
            <td>
              <p>{{ forecastTotal.TotalPract }}</p>
            </td>
            <td>
              <p>{{ forecastTotal.TotalTut }}</p>
            </td>
          </tr>
          <!--  -->
          <tr>
            <th scope="row" class="t-sub">Assigned</th>
            <td>
              <p>{{ totalAssigned.TotalLect }}</p>
            </td>
            <td>
              <p>{{ totalAssigned.TotalPract }}</p>
            </td>
            <td>
              <p>{{ totalAssigned.TotalTut }}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="padding"></div>
    </div>
    <!-- Assignment -->
    <div class="box">
      <p class="subtitle">Assignment</p>
      <div>
        <table mat-table [dataSource]="data">
          <ng-container matColumnDef="StaffName">
            <th mat-header-cell *matHeaderCellDef class="t-headercol"> Staff Name </th>
            <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.StaffName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="NoLectClass">
            <th mat-header-cell *matHeaderCellDef class="t-headercol"> Lecture </th>
            <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.NoLectClass}} </td>
          </ng-container>
    
          <ng-container matColumnDef="NoPractClass">
            <th mat-header-cell *matHeaderCellDef class="t-headercol"> Practical </th>
            <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.NoPractClass}} </td>
          </ng-container>
    
          <ng-container matColumnDef="NoTutClass">
            <th mat-header-cell *matHeaderCellDef class="t-headercol"> Tutorial </th>
            <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.NoTutClass}} </td>
          </ng-container>
    
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="t-headercol"> Action </th>
            <td mat-cell *matCellDef="let element;" style="text-align: left;">
              <button id="del" (click)="goingToDeleteAssignment(element.Module, element.Course, element.Staff)"
                data-toggle="modal" data-target="#deleteAssignment"><i class="fa fa-trash"></i></button>
              <button id="update" data-toggle="modal" data-target="#updateAssignment" (click)="updateAssignment(element)"><i
                  class="fa fa-edit"></i></button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    
      <!-- <div class="input-div" style="margin:1em; align-items: center;">
        <label style="margin-left:1em; font-weight:600;">Remarks:</label>
        <mat-form-field style="margin-left:1em; width: 40%;">
          <textarea matInput placeholder="Add any remarks"></textarea>
        </mat-form-field>
      </div> -->
      <div class="d-flex" style="margin-left: 2em;">
        <button *ngIf="forecastOn" type="button" class="btn btn-style" data-toggle="modal" data-target="#newAssignment">
          New Assignment
        </button>
        <button *ngIf="forecastOn" type="button" class="btn btn-style" style="margin-left: 1em;" (click)="saveMC()">
          Save
        </button>
      </div>
      <div class="padding"></div>
    </div>
  </div>
  <!-- End of TAS -->
</section>

<!-- newModule Modal -->
<div class="modal fade" id="newModule" tabindex="-1" role="dialog" aria-labelledby="newModuleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newModuleLabel">Create New Module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="margin-left: 2em;">
        <form [formGroup]="newModule" (ngSubmit)="addModule()">
          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Module Code:</label>
              <input type="string" class="form-control" [formControlName]="'NMCode'" placeholder="" style="width: 60%;">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Module Abbrv:</label>
              <input type="string" class="form-control" [formControlName]="'NMAbbrv'" placeholder=""
                style="width: 60%;">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Module Name:</label>
              <input type="string" class="form-control" [formControlName]="'NMName'" placeholder="" style="width: 60%;">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Mass Lecture</label>
              <select class="form-control" [formControlName]="'NMML'" style="width: 60%;">
                <option>True</option>
                <option>False</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Type:</label>
              <input type="number" class="form-control" [formControlName]="'NMTYPE'" placeholder="" style="width: 20%">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">EvenWeekLecture:</label>
              <input type="number" class="form-control" [formControlName]="'NMEWL'" placeholder="" style="width: 20%">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">OddWeekLecture:</label>
              <input type="number" class="form-control" [formControlName]="'NMOWL'" placeholder="" style="width: 20%">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">EvenWeekTutorial:</label>
              <input type="number" class="form-control" [formControlName]="'NMEWT'" placeholder="" style="width: 20%">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">OddWeekTutorial:</label>
              <input type="number" class="form-control" [formControlName]="'NMOWT'" placeholder="" style="width: 20%">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">EvenWeekPractical:</label>
              <input type="number" class="form-control" [formControlName]="'NMEWP'" placeholder="" style="width: 20%">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">OddWeekPractical:</label>
              <input type="number" class="form-control" [formControlName]="'NMOWP'" placeholder="" style="width: 20%">
            </div>
          </div>

          <div class="modal-footer">
            <button type="su" id="submit" class="btn btn-style">Add Module</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<!-- Add New Forecast Assignment -->
<div class="modal fade" id="newForecast" tabindex="-1" role="dialog" aria-labelledby="newModuleLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newModuleLabel">Create New Forecast Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="margin-left: 2em;">
        <form [formGroup]="NFC" (ngSubmit)="addForecast()">
          <div class="col">

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Module:</label>
                <select class="form-control" [formControlName]="'NFCModule'" style="width: 60%;">
                  <option *ngFor="let section of moduleList" [value]="section.ModuleCode">
                    {{ section.ModuleName }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Course:</label>
                <input type="string" class="form-control" [formControlName]="'NFCCourse'" placeholder="ie. DBIT"
                  style="width: 60%;">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Lecture:</label>
                <input type="number" class="form-control" [formControlName]="'NFCLecture'" placeholder=""
                  style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Practical:</label>
                <input type="number" class="form-control" [formControlName]="'NFCPractical'" placeholder=""
                  style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Tutorial:</label>
                <input type="number" class="form-control" [formControlName]="'NFCTutorial'" placeholder=""
                  style="width: 20%;">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">StudentQty:</label>
                <input type="number" class="form-control" [formControlName]="'NFCStudent'" placeholder=""
                  style="width: 20%;">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit" class="btn btn-style" type="submit">Create Module-Course</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- NEW MODCOURSE -->
<div class="modal fade" id="newModCourse" tabindex="-1" role="dialog" aria-labelledby="newModuleLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newModuleLabel">Create New Module-Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="margin-left: 2em;">

        <form [formGroup]="newModCourse" (ngSubmit)="addModCourse()">
          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Module:</label>
              <select class="form-control" [formControlName]="'NMCModule'" style="width: 60%;">
                <option *ngFor="let section of moduleList" [value]="section.ModuleCode">
                  {{ section.ModuleName }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Course:</label>
              <select class="form-control" [formControlName]="'NMCCourse'" style="width: 60%;">
                <option *ngFor="let course of courseList" [value]="course.CourseAbbrv">
                  {{ course.CourseName }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Module Category:</label>
              <input type="string" class="form-control" [formControlName]="'NMCCat'" placeholder="" style="width: 60%;">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Stage:</label>
              <input type="string" class="form-control" [formControlName]="'NMCStage'" placeholder=""
                style="width: 60%;">
            </div>
          </div>

          <div class="form-group">
            <div class="row" style="align-items: baseline;">
              <label class="NA-label">Course Year:</label>
              <input type="string" class="form-control" [formControlName]="'NMCYear'" placeholder=""
                style="width: 60%;">
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" id="submit" class="btn btn-style">Add Module-Course</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- New Assignment modal -->
<!-- Modal -->
<div class="modal fade" id="newAssignment" tabindex="-1" role="dialog" aria-labelledby="newAssignmentLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAssignmentLabel">New Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="newAssignment" (ngSubmit)="addAssignment()">
          <div class="col">
            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Staff:</label>
                <select class="form-control" [formControlName]="'NAStaff'" style="width: 80%;">
                  <option selected></option>
                  <option *ngFor="let staff of staffInfo" [value]="staff.StaffNo">
                    {{staff.StaffName}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Lecture:</label>
                <input type="number" class="form-control" [formControlName]="'NALecture'" placeholder=""
                  style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Practical:</label>
                <input type="number" class="form-control" [formControlName]="'NAPractical'" placeholder=""
                  style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Tutorial:</label>
                <input type="number" class="form-control" [formControlName]="'NATutorial'" placeholder=""
                  style="width: 20%;">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit" class="btn btn-style" type="submit">Save Assignment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE -->
<div class="modal fade" id="updateAssignment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin: 1em 1em 1em 0">
        <h5 class="modal-title" id="exampleModalLabel">Update Staff Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="margin: 1em 1em 1em 0">
          <div class="col" class="poplabel" id="sname">Staff Name:</div>
          <div class="col" [innerHTML]="editStaff.StaffName"></div>
        </div>
        <form [formGroup]="updateAsgnmt" (ngSubmit)="confirmUpdate()">
          <div class="row">
            <div class="col" class="poplabel">Lecture:</div>
            <div class="col">
              <input type="number" class="form-control" [formControlName]="'EditLect'" placeholder="">
            </div>
          </div>
          <div class="row" style="margin: 1em 1em 1em 0">
            <div class="col" class="poplabel">Practical:</div>
            <div class="col">
              <input type="number" class="form-control" [formControlName]="'EditPract'" placeholder="">
            </div>
          </div>
          <div class="row" style="margin: 1em 1em 1em 0">
            <div class="col" class="poplabel" >Tutorial:</div>
            <div class="col">
              <input type="number" class="form-control" [formControlName]="'EditTut'" placeholder="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-style" id="submit" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete -->
<div class="modal fade" id="deleteAssignment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="warnmsg">Are you sure you want to delete this Assignment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-style" (click)="confirmDelete()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>