<div class="box">
    <div class="left">
        <div class="row">
            <div class="col-sm-12 text-left">
                <p class="header">Staff Login</p>
                <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" id="username" class="form-control" [formControlName]="'username'"
                            placeholder="Staff ID" #username>
                    </div>
                    <span *ngIf="!adminForm.get('username').valid && adminForm.get('username').touched"
                    class="help-block">
                    <span *ngIf="adminForm.get('username').errors['required']">
                        This field is required !
                    </span>
                    <span *ngIf="!adminForm.get('username').errors['required'] 
                          && adminForm.get('username').errors['blankSpaces']">
                        This field is empty !
                    </span>
                </span>
                    <div class="form-group">
                        <input type="password" id="userpassword" class="form-control" [formControlName]="'userpassword'"
                            placeholder="Password" #password>
                    </div>
                    <span *ngIf="!adminForm.get('userpassword').valid && adminForm.get('userpassword').touched"
                    class="help-block">
                    <span *ngIf="adminForm.get('userpassword').errors['required']">This field is required !</span>
                    <span *ngIf="!adminForm.get('userpassword').errors['required'] 
                    && adminForm.get('userpassword').errors['blankSpaces']">
                        This field is empty !
                    </span>
                </span>    <div style="clear: both;">
                    </div>
                
                    <!-- <div class="form-group" id="test">
                        <select [formControlName]="'yearsem'">
                            <option value="" hidden>Dataset</option>
                            <option *ngFor="let year of yearSem">{{ year.Year + ' S' + year.Sem}}</option>
                        </select>
                    </div> -->
                    <button [disabled]="!adminForm.valid" class="btn btn-light" id="submit" type="submit"
                    (click)="onLogin(username, password)">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="assets/img/login.jpg" id="loginimg">
    </div>
    <div style="clear: both;">
    </div>
</div>