@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');

.right{
    float: right;
    width: 45%;
}

select {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding-right: 1em;
    padding-bottom: 0.1em;
    color: #495057;
    padding: .375rem .75rem;
    width: 100%;
}

#loginimg {
    width: 100%;
    float: right;
}

.left {
    width: 40%;
    float: left;
    position: relative;
    margin-right: 8%;
}

.box {
    position: relative;
    padding-bottom: 3.5em;
    padding-top: 3.5em;
    margin-left: 10%;
    display: flex;
    align-items: center;
    /* min-height: 100%; */
}

label {
    font-family: 'Open Sans', sans-serif;
}

#submit {
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
    color: white;
    font-weight: 700;
    margin-top: 2em;
    background-color: #f83d5b !important;
}

.header {
    font-size: 3vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    color: #303030;
    letter-spacing: 0.02em;
}

.form-group {
    padding-top: 2em;
    position: relative;
    width: 75%;
}


input, textarea, select {
    border: 1px solid #ececec;
    background-color: #ececec;
    border-radius: 5;
}

textarea {
    resize: none;
}

::placeholder {
    font-size: 1.05em;
    font-family: 'Open Sans', sans-serif;
}

.help-block {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #f83d5b;
    font-weight: 600;
    height: 2.2em;
    width: 6em;
}


/* .help-block:before {
    content:"";
    position: absolute;
    right: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top: 1.1em solid transparent;
    border-right: 1em solid #f83d5b ;
    border-bottom: 1.1em solid transparent;
} */

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border-color: #f83d5b;
}


#formright {
    float: left;
    width: 50%;
}