@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:800&display=swap');

#tas, #exam, #module, #staff, #system {
    padding: 1em;
    border: 5px solid #f83d5b;
    font-weight: 500;
    padding-top: 7em;
    padding-bottom: 7em;
    font-size:1.2em
}

.row {
    margin-top: 1em;
    margin-bottom: 1em;
}

.col {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    outline: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
    font-weight: 600;
}
