<div class="container">
    <div class="row">
        <div class="col" id="staff" appScale routerLink="/staffinfo" style="margin-bottom: 0.5em;">
            <img src="assets/img/staffinfo.png" style="height: 120px;">
            <p>Personal Information</p>
        </div>
        <div class="col" id="tas" appScale routerLink="/assignment" (click)="check()" style="margin-bottom: 0.5em;">
            <img src="assets/img/assign.png" style="height: 120px;">
            <p>Teaching Assignment System</p>
        </div>
        <div class="col" id="exam" appScale routerLink="/exam" (click)="check()" style="margin-bottom: 0.5em;">
            <img src="assets/img/exam.png" style="height: 120px;">
            <p>Exam Moderator & Verifier System</p></div>
    </div>
    <div class="row">
        <div class="col" id="module" appScale routerLink="/module">
            <img src="assets/img/module.png" style="height: 120px;"><p>Module Maintainence</p></div>
        <div class="col" id="staff" appScale routerLink="/staff" (click)="check()">
            <img src="assets/img/staff.png" style="height: 120px;"><p>Staff Maintainence</p></div>
        <div class="col" id="system" appScale routerLink="/admin" (click)="check()">
            <img src="assets/img/admin.png" style="height: 120px;"><p>System Maintainence</p></div>
    </div>
</div>