@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

.box {  
    display: block;
    margin: 1em 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    padding-left: 1.5em;
    text-align: left;
}

#del, #update {
    border: none;
    background-color: transparent;
    outline: none;
}

.mat-table {
    width: 95%;
    margin: 0 auto;
    box-shadow: none;
}

tr:nth-child(even) {
    background: #FFE5E5;
}

.t-headercol {
    background: #FFF !important;
    color: #EB3656 ;
    border-bottom: #F3395A solid 5px;
    border-top: none;
}

.t-headerc {
    background: #FFF !important;
    color: #EB3656 ;
    border-bottom: #F3395A solid 5px;
    border-top: none;
    text-align: center;
}

.padding {
    padding: 0.75em;
}

.poplabel {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.modal-title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0;
    padding-left: 0.5em;
    text-align: left;
}

.btn-style {
    background: #EB3656;
    color: #FFF;
}

.btn-style:hover {
    background: #FF3C5C;
    color: #FFF
}

.row {
    margin: 1em
}