<div class="container">
  <div class="box">
    <p class="subtitle">Course Information</p>

    <div class="d-flex" style="align-items: baseline;">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#newCourse" style="margin: 1em 2em">Create New Course</button>
      <mat-form-field class="filterInput">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="data">

      <ng-container matColumnDef="cid">
        <th mat-header-cell *matHeaderCellDef class="t-headercol"> CourseAbbrv </th>
        <td mat-cell *matCellDef="let element; let odd=odd" style="text-align: left;"> {{element.CourseAbbrv}} </td>
      </ng-container>

      <ng-container matColumnDef="cname">
        <th mat-header-cell *matHeaderCellDef class="t-headercol"> CourseName </th>
        <td mat-cell *matCellDef="let element; let odd=odd" style="text-align: left;"> {{element.CourseName}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="t-headerc"> Action </th>
        <td mat-cell *matCellDef="let element; let odd=odd let index=index" [class.color]="odd">
          <button id="del" (click)="deleteCourse(element.CourseAbbrv)" data-toggle="modal"
            data-target="#deleteCourse"><i class="fa fa-trash" style="margin: 0"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons></mat-paginator>
    <div class="padding"></div>
  </div>
</div>

<!-- DeleteCourse Modal -->
<div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="warnmsg">Are you sure you want to delete this Course?</p>
        <p class="warnmsg">Every information relying on this Course will also be deleted.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-style" (click)="confirmDelete()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- NewCourse Modal -->
<div class="modal fade" id="newCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newCourse" (ngSubmit)="addCourse()">
          <div class="row">
            <div class="col" class="poplabel" id="sname">Course Abbrv:</div>
            <div class="col"><input type="text" class="form-control" [formControlName]="'NCAbbrv'" placeholder="ie. DBIT"></div>
          </div>
          <div class="row">
            <div class="col" class="poplabel" id="sname">Course Name:</div>
            <div class="col"><input type="text" class="form-control" [formControlName]="'NCName'" placeholder=""></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-style" id="submit" type="submit">Create Course</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>