<!-- Select module ddwn -->
<div class="tas-header">
  <mat-form-field appearance="fill">
    <mat-label>Module-Course</mat-label>
    <mat-select>
      <mat-option *ngFor="let mod of modCourseDisplay" (click)="loadSelectedModCourse(mod.ModKey)" [value]="mod.ModKey">
        {{mod.ModCourseName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="forecastOn" class="btn btn-style" type="button" routerLink="/forecastAssignment"
    [(value)]="modCourseDisplay.ModKey" style="margin-left: auto;">Edit Forecast Assignment</button>
</div>
<!-- End of ddwn -->
<!-- Module Info -->
<div class="box">
  <p class="subtitle">Module Information</p>
  <div class="input-div">
    <p class="label">Module Coordinator:</p>
    <mat-form-field appearance="fill">
      <mat-label>Module Coordinator</mat-label>
      <mat-select [(value)]="selectedMC">
        <mat-option *ngFor="let staff of staffInfo" (click)="selectMC(staff.StaffNo)" [value]="staff.StaffNo">
          {{staff.StaffName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="input-div">
    <p class="label">Number of Students:</p>
    <p>{{forecastTotal.StuStageQty}} </p>
  </div>
  <div class="padding"></div>
</div>
<!-- Classes -->
<div class="box">
  <!-- <p class="subtitle">Classes</p> -->
  <div class="padding"></div>
  <table class="table classes-table">
    <thead>
      <tr class="t-colall">
        <th scope="col-8" class="t-header t-headercol">Classes</th>
        <th scope="col-1" class="t-headercol">Lecture</th>
        <th scope="col-1" class="t-headercol">Practical</th>
        <th scope="col-1" class="t-headercol">Tutorial</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="t-sub">Hours Per Week</th>
        <td>
          <p>{{ moduleHours.LectHr }}</p>
        </td>
        <td>
          <p>{{ moduleHours.PractHr }}</p>
        </td>
        <td>
          <p>{{ moduleHours.TutHr }}</p>
        </td>
      </tr>
      <tr>
        <th scope="row" class="t-sub">To Be Assigned</th>
        <td>
          <p>{{ forecastTotal.TotalLect }}</p>
        </td>
        <td>
          <p>{{ forecastTotal.TotalPract }}</p>
        </td>
        <td>
          <p>{{ forecastTotal.TotalTut }}</p>
        </td>
      </tr>
      <!--  -->
      <tr>
        <th scope="row" class="t-sub">Assigned</th>
        <td>
          <p>{{ totalAssigned.TotalLect }}</p>
        </td>
        <td>
          <p>{{ totalAssigned.TotalPract }}</p>
        </td>
        <td>
          <p>{{ totalAssigned.TotalTut }}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="padding"></div>
</div>
<!-- Assignment -->
<div class="box">
  <p class="subtitle">Assignment</p>
  <div>
    <table mat-table [dataSource]="data">
      <ng-container matColumnDef="StaffName">
        <th mat-header-cell *matHeaderCellDef class="t-headercol"> Staff Name </th>
        <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.StaffName}} </td>
      </ng-container>

      <ng-container matColumnDef="NoLectClass">
        <th mat-header-cell *matHeaderCellDef class="t-headercol"> Lecture </th>
        <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.NoLectClass}} </td>
      </ng-container>

      <ng-container matColumnDef="NoPractClass">
        <th mat-header-cell *matHeaderCellDef class="t-headercol"> Practical </th>
        <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.NoPractClass}} </td>
      </ng-container>

      <ng-container matColumnDef="NoTutClass">
        <th mat-header-cell *matHeaderCellDef class="t-headercol"> Tutorial </th>
        <td mat-cell *matCellDef="let element;" style="text-align: left;"> {{element.NoTutClass}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="t-headercol"> Action </th>
        <td mat-cell *matCellDef="let element;" style="text-align: left;">
          <button id="del" (click)="goingToDeleteAssignment(element.Module, element.Course, element.Staff)"
            data-toggle="modal" data-target="#deleteAssignment"><i class="fa fa-trash"></i></button>
          <button id="update" data-toggle="modal" data-target="#updateAssignment" (click)="updateAssignment(element)"><i
              class="fa fa-edit"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- <div class="input-div" style="margin:1em; align-items: center;">
    <label style="margin-left:1em; font-weight:600;">Remarks:</label>
    <mat-form-field style="margin-left:1em; width: 40%;">
      <textarea matInput placeholder="Add any remarks"></textarea>
    </mat-form-field>
  </div> -->
  <div class="d-flex" style="margin-left: 2em;">
    <button *ngIf="forecastOn" type="button" class="btn btn-style" data-toggle="modal" data-target="#newAssignment">
      New Assignment
    </button>
    <button *ngIf="forecastOn" type="button" class="btn btn-style" style="margin-left: 1em;" (click)="saveMC()">
      Save
    </button>
  </div>
  <div class="padding"></div>
</div>

<!-- New Assignment modal -->
<!-- Modal -->
<div class="modal fade" id="newAssignment" tabindex="-1" role="dialog" aria-labelledby="newAssignmentLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAssignmentLabel">New Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="newAssignment" (ngSubmit)="addAssignment()">
          <div class="col">
            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Staff:</label>
                <select class="form-control" [formControlName]="'NAStaff'" style="width: 80%;">
                  <option selected></option>
                  <option *ngFor="let staff of staffInfo" [value]="staff.StaffNo">
                    {{staff.StaffName}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Lecture:</label>
                <input type="number" class="form-control" [formControlName]="'NALecture'" placeholder=""
                  style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Practical:</label>
                <input type="number" class="form-control" [formControlName]="'NAPractical'" placeholder=""
                  style="width: 20%">
              </div>
            </div>

            <div class="form-group">
              <div class="row" style="align-items: baseline;">
                <label class="NA-label">Tutorial:</label>
                <input type="number" class="form-control" [formControlName]="'NATutorial'" placeholder=""
                  style="width: 20%;">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit" class="btn btn-style" type="submit">Save Assignment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE -->
<div class="modal fade" id="updateAssignment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin: 1em 1em 1em 0">
        <h5 class="modal-title" id="exampleModalLabel">Update Staff Assignment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="margin: 1em 1em 1em 0">
          <div class="col" class="poplabel" id="sname">Staff Name:</div>
          <div class="col" [innerHTML]="editStaff.StaffName"></div>
        </div>
        <form [formGroup]="updateAsgnmt" (ngSubmit)="confirmUpdate()">
          <div class="row">
            <div class="col" class="poplabel">Lecture:</div>
            <div class="col">
              <input type="number" class="form-control" [formControlName]="'EditLect'" placeholder="">
            </div>
          </div>
          <div class="row" style="margin: 1em 1em 1em 0">
            <div class="col" class="poplabel">Practical:</div>
            <div class="col">
              <input type="number" class="form-control" [formControlName]="'EditPract'" placeholder="">
            </div>
          </div>
          <div class="row" style="margin: 1em 1em 1em 0">
            <div class="col" class="poplabel" >Tutorial:</div>
            <div class="col">
              <input type="number" class="form-control" [formControlName]="'EditTut'" placeholder="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-style" id="submit" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete -->
<div class="modal fade" id="deleteAssignment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="warnmsg">Are you sure you want to delete this Assignment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-style" (click)="confirmDelete()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>