<div class="container">
    <p class="title">Exam Moderator And Verifier System</p>
    <hr class="hr">
    <div class="row" id="selectrow">
        <div class="col" class="colabel" id="test1">Select Course:</div>
        <div class="col" class="info" id="test2">
            <select (change)="changeCourse($event)" class="select">
                <option *ngFor="let course of courseList">{{ course.SectionName }}</option>
            </select>
        </div>
        <div class="col">
            <a href="https://tas-backend.herokuapp.com/api/report/exam-info"><button appShadow id="download" >Download As Excel</button></a>

        </div>
    </div>
    <div class="box" *ngFor="let exam of examList;">
        <div class=" row">
            <div class="col" class="colabel">Module:</div>
            <div class="col" class="colinfo">{{ exam.Module }}</div>
            <div class="col" class="colabel">Type:</div>
            <div class="col" class="colinfo">
                <select [(ngModel)]="type[exam.Module]">
                    <option> Please Select</option>
                    <option value=0>NOT DEFINED</option>
                    <option value=1>ICA WITH NO TEST</option>
                    <option value=2>ICA WITH TERM TEST</option>
                    <option value=3>ICA WITH END-OF-MODULE TEST</option>
                    <option value=4>EXAM</option>
                </select>
            </div>
        </div>
        <div class=" row">
            <div class="col" class="colabel">Offered To:</div>
            <div class="col" class="colinfo">{{ exam.Course }}</div>
            <div class="col" class="colabel">MDEO and Marker:</div>
            <div class="col" class="colinfo">
                <select [(ngModel)]="mdeo[exam.Module]">
                    <option hidden value="" [selected]="true">Select MDEO</option>
                    <option *ngFor="let staff of staffList" [value]="staff.StaffNo">{{ staff.StaffName }}</option>
                </select>
            </div>
        </div>
        <div class=" row">
            <div class="col" class="colabel">Chief Examiner:</div>
            <div class="col" class="colinfo">
                <select [(ngModel)]="chiefexaminer[exam.Module]">
                    <option hidden value="" [selected]="true">Select Chief Examiner</option>
                    <option *ngFor="let staff of staffList" [value]="staff.StaffNo">{{ staff.StaffName }}</option>
                </select>
            </div>
            <div class="col" class="colabel">Verifier:</div>
            <div class="col" class="colinfo">
                <select [(ngModel)]="verifier[exam.Module]">
                    <option hidden value="" [selected]="true">Select Verifier</option>
                    <option *ngFor="let staff of staffList" [value]="staff.StaffNo">{{ staff.StaffName }}</option>
                </select>
            </div>
        </div>
        <div class=" row">
            <div class="col" class="colabel">Moderator:</div>
            <div class="col" class="colinfo">
                <select [(ngModel)]="moderator[exam.Module]">
                    <option hidden value="" [selected]="true">Select Moderator</option>
                    <option *ngFor="let staff of staffList" [value]="staff.StaffNo">{{ staff.StaffName }}</option>
                </select>
            </div>
            <div class="col" class="colabel">Verifier Details:</div>
            <div class="col" class="colinfo">
                <input type="text" [(ngModel)]="verifierdetails[exam.Module]">
            </div>
        </div>
        <div class=" row">
            <div class="col" class="colabel">External Moderation:</div>
            <div class="col" class="colinfo">
                <input type="text" [(ngModel)]="externalmoderation[exam.Module]">
            </div>
            <div class="col" class="colabel">Marks Moderator:</div>
            <div class="col" class="colinfo">
                <select [(ngModel)]="marksmoderator[exam.Module]">
                    <option hidden value="" [selected]="true">Select Moderator</option>
                    <option *ngFor="let staff of staffList" [value]="staff.StaffNo">{{ staff.StaffName }}</option>
                </select>
            </div>
        </div>
        <button appShadow (click)="onSubmit(exam.Module, exam.Course)">Update Exam Info</button>        
        <div class="clear"></div>
    </div>
</div>