@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

.title {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 700;
    font-size: 1.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    padding-left: 0.5em;
    text-align: left;
}

.hr {
    border-top: 2px solid gray;
    margin-top: 0.5em;
}

#download {
    margin: 0;
}
 
#test1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    color: #f83d5b;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    padding-left: 1em;
}

#test2 {
    border: none;
    background-color: transparent;
    padding: none;
    border-radius: none;
    width: none;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

#selectrow {
    margin-bottom: 2em;
}

.colabel {
    width: 20%;
    padding-left: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.row {
    margin-bottom: 1.5em;
}

.info {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 7px;
    width: 20em;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.select {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

.clear {
    clear: both;
}

input {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

.box {
    padding: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: 2em;
    border: 4px solid #f83d5b
}

.colinfo {
    width: 25%;
    text-align: left;
}

select {
    border: 2px solid #f83d5b;
    background-color: #f3f3f3;
    border-radius: 7px;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    font-size: 0.9em;
    height: 2.5em;
    float: left;
}

button {
    float:left;
    margin-left: 2em;
    margin-top: 0.8em;
    background-color: #f83d5b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 5px;
    padding: 0.6em 2.5em 0.6em 2.5em;
    outline: none;
    float:right;
    margin-right: 14%;
}

.colabel {
    width: 20%;
    padding-left: 2em;
}