<div class="tas-header">
  <mat-form-field appearance="fill">
    <mat-label>Section</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let section of sectionInfo" (click)="filterSection()" [value]="section.SectionID">
        {{section.SectionName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field class="filterInput">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
</div>
<div class="box"> 
<p class="subtitle">Section Members</p>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell class="t-headercol" *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element[column]}} </td>
  </ng-container> -->

  <ng-container matColumnDef="StaffName">
    <th mat-header-cell *matHeaderCellDef class="t-headercol"> Staff Name </th>
    <td mat-cell *matCellDef="let element;"  style="text-align: left;"> {{element.staffName}} </td>
  </ng-container>

  <ng-container matColumnDef="TotalHours">
    <th mat-header-cell *matHeaderCellDef class="t-headercol"> Total Hours </th>
    <td mat-cell *matCellDef="let element;"  style="text-align: left;"> {{element.TotalHr}} </td>
  </ng-container>


  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div>
          <table class="table section-table">
            <thead>
              <tr>
                <th scope="col-6">ModuleCourse</th>
                <th scope="col">L</th>
                <th scope="col">P</th>#
                <th scope="col">T</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of element.assignments">
                <th scope="row">{{x.ModCourseName}}</th>
                <td>{{x.NoLect}}</td>
                <td>{{x.NoPract}}</td>
                <td>{{x.NoTut}}</td>
              </tr>
            </tbody>
            </table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"></mat-paginator>



</div>