.container {
    border: 1px solid blue;
}
.tas-container {
    border: 1px solid red;
}

.subheader {
    width: 100%;
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
}

.subheader > div {
    margin: 0 0.35em;
}

.flex-end {
    margin-left:auto;
}

.tas-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75em 0;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #f83d5b;
    font-weight: 600;
    font-size: 1.4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    padding-left: 1.5em;
    text-align: left;
}

.box {  
    display: block;
    margin: 1em 0;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.input-div {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0.1em 0;
    display: flex;
    align-items: baseline;
}

.label {
    padding: 0 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.section-info {
    width: 40%;
}

.tas {
    width: 60%;
}

.tas-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.75em 0;
}

table {
    width: 100%;
  }
  
tr.example-detail-row {
    height: 0;
  }
  
tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
.example-element-row td {
    border-bottom-width: 0;
  }
  
.example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
.example-element-description {
    padding: 16px;
  }
  
.example-element-description-attribution {
    opacity: 0.5;
  }
  
  .mat-table {
    width: 95%;
    margin: 0 auto;
    box-shadow: none;
}

.t-headercol {
  background: #FFF !important;
  color: #EB3656 ;
  border-bottom: #F3395A solid 5px;
  border-top: none;
}

.section-table {
  width: 100%;
  margin: auto;
}

